.header {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  margin: 0 auto 20px;
}

.header div {
  width: 210px;
}

.list {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 17px;
  margin: 120px auto 0;
}

.items {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
