.header {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  margin: 0 auto;
  width: 50%;
  align-items: center;
}

.graph {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  margin: 40px auto 0;
  align-items: end;
  max-width: 950px;
  justify-content: center;
}
